<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title> </title>
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <div class="header__inner"></div>
    </div>
  </header>
  <main class="main">
  </main>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__inner"></div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="js/main.min.js"> </script>
</body>